nav {
    min-height: 9vh;
}

.main-bg {
    color: #fff;
    background-color: #C6002A;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.navbar-dark .navbar-nav .nav-link:hover {
    border: 1p solid #000;
}

img {
    width: 150px;
}