<div class="container-fluid">
  <!-- <h1 *ngIf="!isBrowsePage" class="pb-5">Streams</h1>
  <div *ngIf="!isBrowsePage" class="video-container">
    <video class="video-frame" (click)="startVideo()" #videoPlayer>
      <source src="{{videoSource}}" type="video/mp4">
    </video>
  </div> 
  <button (click)="makeBig()">Big</button>
	<button (click)="makeSmall()">Small</button>
	<button (click)="makeNormal()">Normal</button> 
  <p>Video clicked: {{videoClicked}}</p>-->

  <h1 *ngIf="!isBrowsePage" class="pb-5">Volgend</h1>
  <h1 *ngIf="isBrowsePage" class="pb-5">Bladeren</h1>
  <div class="row card-row">
    <div class="col-12 col-md-6 col-lg-4 col-xl-3 pb-4" *ngFor="let room of rooms">
      <div class="card h-100">
        <a class="d-block position-relative" [routerLink]="['/room', room._id]">
          <div class="position-relative">
            <div [ngClass]="{'active' : room.isLive}" class="live active">
              <span>Live</span>
            </div>

            <div (mouseenter)="mouseOnHover(room._id)" (mouseleave)="mouseOnLeave(room._id)">
              <img *ngIf="!(hoveredVideo == room._id || playingStreamArray.includes(room._id )) || !room.isLive"
                id="{{room._id}} - avatar" class="card-img-top"
                [src]="'https://avatars.dicebear.com/api/adventurer-neutral/' + room.streamer._id + '.svg'" />
              <div *ngIf="room.isLive">
                <video *ngIf="hoveredVideo == room._id || playingStreamArray.includes(room._id)" id="{{room._id}}"
                  class="video-frame-2">
                  <source src="{{videoSource1}}" type="video/mp4">
                </video>
              </div>
            </div>

            <div *ngIf="room.isLive" class="viewer-count">
              <span>{{ room.viewers }} kijkers</span>
            </div>
          </div>


          <div class="card-body">
            <h5 class="card-title">{{ room.streamer.name }}</h5>
            <p class="card-text">
              {{ room.title }}
            </p>
          </div>
        </a>
        <div class="btn-group mx-2 mb-2">
        <button class="btn btn-danger w-50" (click)="startStopVideo(room._id)" [disabled]="!room.isLive">
          <fa-icon *ngIf="!playingStreamArray.includes(room._id)" [icon]="FaPlay" class="icon"></fa-icon> 
          <fa-icon *ngIf="playingStreamArray.includes(room._id)" [icon]="FaStop" class="icon"></fa-icon> 
        </button>
        <!-- <button class="btn btn-info btn-hover-transition w-50 fw-bold" [routerLink]="['/room', room._id]" [disabled]="!room.isLive" title="Bekijk room van {{room.streamer.name}}">Room <fa-icon [icon]="FaArrowRight" class="icon align-middle"></fa-icon></button></div> -->
        <button class="btn btn-secondary btn-hover-transition w-50 fw-bold text-black" [routerLink]="['/room', room._id]" [disabled]="!room.isLive" title="Bekijk room van {{room.streamer.name}}"><fa-icon [icon]="FaArrowRight" class="icon align-middle"></fa-icon><fa-icon [icon]="FaDoorOpen" class="icon align-middle"></fa-icon></button></div>
      </div>
      <!-- <div class="d-block card-border"></div> -->
    </div>
    
  </div>
</div>