<div class="sidenav chat scrollwrapper">
  <div class="chatmessages scrollable-child mt-5">
    <p *ngFor="let chatMessage of chatMessages" class="m-2" ><b>{{ chatMessage.username }}:</b> {{ chatMessage.message }}<br><hr></p>
    
  </div>
  <div class="chatinput">
    <form #f="ngForm" (ngSubmit)="send(f.value)">
      <div class="form-group align-bottom">
        <input
          #message="ngModel"
          [(ngModel)]="chatMessage.message"
          name="message"
          id="message"
          type="text"
          class="form-control chattext"
          required
        />
      </div>
      <button
        class="btn btn-primary btn-send"
        (click)="send(f.value)"
        type="button"
      >
        Stuur
      </button>
    </form>
  </div>
</div>
