<the-circle-navbar></the-circle-navbar> 
<the-circle-sidenav></the-circle-sidenav>

<!-- If statement for the padding for the sidenav -->
<div class="main-content mt-5">
    <router-outlet></router-outlet>
</div>

<!-- <the-circle-navbar></the-circle-navbar> 
<the-circle-sidenav *ngIf="router.url === '/browse' || router.url === '/following'"></the-circle-sidenav>

<!-- If statement for the padding for the sidenav 
<div class="main-content mt-5" *ngIf="router.url === '/browse' || router.url === '/following'; else elseBlock">
    <router-outlet></router-outlet>
</div>
<ng-template #elseBlock>
    <div class="mt-5">
        <router-outlet></router-outlet>
    </div>
</ng-template> -->