<div class="bg-avans">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-light text-decoration-none">
        <img src="../assets/img/avans-hogeschool-logo.png" class="logo-img"> 
      </a>

      <ul class="nav col-6 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a routerLink="/home" class="nav-link px-3 link-light">Home</a></li>
        <li><a routerLink="/" class="nav-link px-3 link-light">Favorite Streams</a></li>
        <li><a routerLink="/streamer" class="nav-link px-3 link-light">Stream Yourself</a></li>
      </ul>

      <div class="col-md-3 text-end">
      </div>
    </header>
  </div>    
<router-outlet></router-outlet>
