h1,h2,h3,h4,h5,h6 {
    font-weight: bold;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
    .main-content{
        padding-left: 198px;
        padding-right: 30px
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {  
    
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  }