<!-- <button class="btn btn-info btn-hover-transition mb-2 fw-bold" (click)="previousPage()" title="Vorige pagina"><fa-icon [icon]="FaArrowLeft" class="icon align-middle"></fa-icon> Terug</button> -->
<!-- <button class="btn btn-info btn-hover-transition mb-2 fw-bold" (click)="previousPage()" title="Vorige pagina"><fa-icon [icon]="FaArrowLeft" class="icon align-middle"></fa-icon> <fa-icon [icon]="FaDoorOpen" class="icon align-middle"></fa-icon> </button> -->
<p class="text-light p-2 bg-dark rounded w-100">
  <button class="btn btn-secondary btn-hover-transition fw-bold" (click)="previousPage()" title="Vorige pagina"><fa-icon [icon]="FaArrowLeft" class="icon align-middle"></fa-icon> <fa-icon [icon]="FaDoorOpen" class="icon align-middle"></fa-icon> </button>
  <span class="ms-2">Streamer NAAM HIER</span>
</p>
<div class="row g-0 h-100 stream-chat-window">
  <div class="text-center col-sm-9 stream-container">
    <video id="video-1" class="video-frame-2 w-100 h-100 align-middle" controls autoplay>
      <source src="{{videoSource1}}" type="video/mp4">
    </video>
  </div>
  <div class="col-sm-3">
    <the-circle-chat></the-circle-chat>
  </div>
</div>
<!-- *ngIf="displayWelcomeMessage"  -->

<!-- <footer id="footer">
  <div class="text-center">
    <button class="btn btn-streaming" (click)="Start()">
      <fa-icon [icon]="FaPlay" class="icon fa-lg pe-2"></fa-icon> Start Your
      Live stream
    </button>

    <button class="btn btn-primary btn-streaming" (click)="Stop()">
      <fa-icon [icon]="FaStop" class="icon fa-lg pe-2"></fa-icon> Stop your Live
      stream
    </button>
    <button class="btn btn-primary btn-streaming" (click)="Pause()">
      <fa-icon [icon]="FaPause" class="icon fa-lg pe-2"></fa-icon> Pause your
      Live stream
    </button>
  </div>
</footer> -->