<div class="container-fluid">
    <h1 class="pb-5">Volgend</h1>
    <div class="row card-row">
        <div class="col-12 col-md-6 col-lg-4 col-xl-3 pb-4">
            <a class="d-block position-relative" routerLink="/">
                <div class="card h-100">
                    <div class="position-relative">
                        <div class="live active">
                            <span>Live</span>
                        </div>
                        <img class="card-img-top" src="https://via.placeholder.com/350">
                        <div class="viewer-count">
                            <span>1.264.938 kijkers</span>
                        </div>
                    </div>
                    <div class="card-body">
                      <h5 class="card-title">Streamer naam</h5>
                      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                    </div>
                </div>
                <div class="card-border">

                </div>

            </a>

        </div>
        <div class="col-12 col-md-6 col-lg-4 col-xl-3 pb-4">
            <a class="d-block position-relative" routerLink="/">
                <div class="card h-100">
                    <div class="position-relative">
                        <div class="live active">
                            <span>Live</span>
                        </div>
                        <img class="card-img-top" src="https://via.placeholder.com/350">
                        <div class="viewer-count">
                            <span>964.938 kijkers</span>
                        </div>
                    </div>
                    <div class="card-body">
                      <h5 class="card-title">Streamer naam</h5>
                      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                    </div>
                </div>
                <div class="card-border"></div>
            </a>
        </div>
        <div class="col-12 col-md-6 col-lg-4 col-xl-3 pb-4">
            <a class="d-block position-relative" routerLink="/">
                <div class="card h-100">
                    <div class="position-relative">
                        <div class="live active">
                            <span>Live</span>
                        </div>
                        <img class="card-img-top" src="https://via.placeholder.com/350">
                        <div class="viewer-count">
                            <span>764.938 kijkers</span>
                        </div>
                    </div>
                    <div class="card-body">
                      <h5 class="card-title">Streamer naam</h5>
                      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                    </div>
                </div>
                <div class="card-border"></div>
            </a>

        </div>
        <div class="col-12 col-md-6 col-lg-4 col-xl-3 pb-4">
            <a class="d-block position-relative" routerLink="/">
                <div class="card h-100">
                    <div class="position-relative">
                        <div class="live">
                            <span>Live</span>
                        </div>
                        <img class="card-img-top" src="https://via.placeholder.com/350">
                        <div class="viewer-count">
                            <span>0 kijkers</span>
                        </div>
                    </div>
                    <div class="card-body">
                      <h5 class="card-title">Streamer naam</h5>
                      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                    </div>
                </div>
                <div class="card-border"></div>
            </a>
        </div>
        <div class="col-12 col-md-6 col-lg-4 col-xl-3 pb-4">
            <a class="d-block position-relative" routerLink="/">
                <div class="card h-100">
                    <div class="position-relative">
                        <div class="live">
                            <span>Live</span>
                        </div>
                        <img class="card-img-top" src="https://via.placeholder.com/350">
                        <div class="viewer-count">
                            <span>0 kijkers</span>
                        </div>
                    </div>
                    <div class="card-body">
                      <h5 class="card-title">Streamer naam</h5>
                      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                    </div>
                </div>
                <div class="card-border"></div>
            </a>
        </div>
        
      </div>
</div>
        
