.card {
    border-radius: 40px;
  }
  
  button {
    margin: 5px;
  }
  label {
    margin: 5px;
  }
  
  input {
    margin: 5px;
  }
  
  a {
    margin: 5px;
  }
  
  .error {
    margin: 5px;
    color: red;
  }
  