/* You can add global styles to this file, and also import other style files */
.bg-avans {
    background-color: #C6002A;
}

.logo-img {
    height: 40px;
    width: auto;
    padding-left: 15px;
    padding-top: 5px;
}