/* You can add global styles to this file, and also import other style files */
.bg-avans {
    background-color: #C6002A;
}


@font-face {
    font-family: "notosans";
    src: url("/assets/fonts/NotoSans-Regular.ttf") format("opentype")
}

* {
    font-family: "notosans";
}