a {
    text-decoration: none;
}

.sidenav {
    width: 150px;
    position: fixed;
    height: 100%;
}

.sidenav-text {
    color: #000;
    font-size: 0.84rem;
}

.streamer-list {
    height: 80%;
    overflow-y: auto;
}

// .streamer-list-title {
//     height: 20%;
// }

.sidenav-item {
    width: 100%;
    padding: 5px;
    fa-icon {
        color: rgb(177, 0, 0);
    }

    &:hover {
        color: black;
        font-weight: bold;
        background-color: rgb(240, 240, 240);

        fa-icon {
            color: black;
        }

        .sidenav-text {
            color: black;
        }
    }
}

.active-link {
    fa-icon {
        color: #000 !important;
    }

    .sidenav-text {
        color: #000 !important;
    }
}

// .tr-rows:hover {
//     font-weight: bold;
//     background-color: rgb(233, 233, 233);
//     box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
// }


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {}