<div class="sidenav p-0 shadow d-none d-md-block">
  
  <div class="streamer-list-title">
  <h3 class="text-center py-4 m-0 bg-light">Gevolgd</h3>
  <hr class="m-0 red"/>
  </div>
  <div class="streamer-list">
    <div class="sidenav-item p-2" title="Bekijk transparante persoon">
      <a class="d-block" routerLink="edit" routerLinkActive="active-link">
        <p class="sidenav-text fw-bold m-0">Mae Holland</p>
        <fa-icon [icon]="FaEye" class="icon fa-lg pe-2"></fa-icon>
        <p class="sidenav-text fw-bold d-inline-block m-0">1.000.000</p>
      </a>
    </div>

    <div class="sidenav-item p-2" title="Bekijk transparante persoon">
      <a class="d-block" routerLink="edit" routerLinkActive="active-link">
        <p class="sidenav-text fw-bold m-0">Tom Holland</p>
        <fa-icon [icon]="FaEye" class="icon fa-lg pe-2"></fa-icon>
        <p class="sidenav-text fw-bold d-inline-block m-0">964.463</p>
      </a>
    </div>

    <div class="sidenav-item p-2" title="Bekijk transparante persoon">
      <a class="d-block" routerLink="edit" routerLinkActive="active-link">
        <p class="sidenav-text fw-bold m-0">Dave Holland</p>
        <fa-icon [icon]="FaEye" class="icon fa-lg pe-2"></fa-icon>
        <p class="sidenav-text fw-bold d-inline-block m-0">4.000.000</p>
      </a>
    </div>

    <div class="sidenav-item p-2" title="Bekijk transparante persoon">
      <a class="d-block" routerLink="edit" routerLinkActive="active-link">
        <p class="sidenav-text fw-bold m-0">Willem Holland</p>
        <fa-icon [icon]="FaEye" class="icon fa-lg pe-2"></fa-icon>
        <p class="sidenav-text fw-bold d-inline-block m-0">17</p>
      </a>
    </div>

    <div class="sidenav-item p-2" title="Bekijk transparante persoon">
      <a class="d-block" routerLink="edit" routerLinkActive="active-link">
        <p class="sidenav-text fw-bold m-0">Mae Holland</p>
        <fa-icon [icon]="FaEye" class="icon fa-lg pe-2"></fa-icon>
        <p class="sidenav-text fw-bold d-inline-block m-0">1.000.000</p>
      </a>
    </div>

    <div class="sidenav-item p-2" title="Bekijk transparante persoon">
      <a class="d-block" routerLink="edit" routerLinkActive="active-link">
        <p class="sidenav-text fw-bold m-0">Tom Holland</p>
        <fa-icon [icon]="FaEye" class="icon fa-lg pe-2"></fa-icon>
        <p class="sidenav-text fw-bold d-inline-block m-0">964.463</p>
      </a>
    </div>

    <div class="sidenav-item p-2" title="Bekijk transparante persoon">
      <a class="d-block" routerLink="edit" routerLinkActive="active-link">
        <p class="sidenav-text fw-bold m-0">Dave Holland</p>
        <fa-icon [icon]="FaEye" class="icon fa-lg pe-2"></fa-icon>
        <p class="sidenav-text fw-bold d-inline-block m-0">4.000.000</p>
      </a>
    </div>

    <div class="sidenav-item p-2" title="Bekijk transparante persoon">
      <a class="d-block" routerLink="edit" routerLinkActive="active-link">
        <p class="sidenav-text fw-bold m-0">Willem Holland</p>
        <fa-icon [icon]="FaEye" class="icon fa-lg pe-2"></fa-icon>
        <p class="sidenav-text fw-bold d-inline-block m-0">17</p>
      </a>
    </div>

    <div class="sidenav-item p-2" title="Bekijk transparante persoon">
      <a class="d-block" routerLink="edit" routerLinkActive="active-link">
        <p class="sidenav-text fw-bold m-0">Mae Holland</p>
        <fa-icon [icon]="FaEye" class="icon fa-lg pe-2"></fa-icon>
        <p class="sidenav-text fw-bold d-inline-block m-0">1.000.000</p>
      </a>
    </div>

    <div class="sidenav-item p-2" title="Bekijk transparante persoon">
      <a class="d-block" routerLink="edit" routerLinkActive="active-link">
        <p class="sidenav-text fw-bold m-0">Tom Holland</p>
        <fa-icon [icon]="FaEye" class="icon fa-lg pe-2"></fa-icon>
        <p class="sidenav-text fw-bold d-inline-block m-0">964.463</p>
      </a>
    </div>

    <div class="sidenav-item p-2" title="Bekijk transparante persoon">
      <a class="d-block" routerLink="edit" routerLinkActive="active-link">
        <p class="sidenav-text fw-bold m-0">Dave Holland</p>
        <fa-icon [icon]="FaEye" class="icon fa-lg pe-2"></fa-icon>
        <p class="sidenav-text fw-bold d-inline-block m-0">4.000.000</p>
      </a>
    </div>

    <div class="sidenav-item p-2" title="Bekijk transparante persoon">
      <a class="d-block" routerLink="edit" routerLinkActive="active-link">
        <p class="sidenav-text fw-bold m-0">Willem Holland</p>
        <fa-icon [icon]="FaEye" class="icon fa-lg pe-2"></fa-icon>
        <p class="sidenav-text fw-bold d-inline-block m-0">17</p>
      </a>
    </div>
    <div class="sidenav-item p-2" title="Bekijk transparante persoon">
      <a class="d-block" routerLink="edit" routerLinkActive="active-link">
        <p class="sidenav-text fw-bold m-0">Dave Holland</p>
        <fa-icon [icon]="FaEye" class="icon fa-lg pe-2"></fa-icon>
        <p class="sidenav-text fw-bold d-inline-block m-0">4.000.000</p>
      </a>
    </div>
    <div class="sidenav-item p-2" title="Bekijk transparante persoon">
      <a class="d-block" routerLink="edit" routerLinkActive="active-link">
        <p class="sidenav-text fw-bold m-0">Dave Holland</p>
        <fa-icon [icon]="FaEye" class="icon fa-lg pe-2"></fa-icon>
        <p class="sidenav-text fw-bold d-inline-block m-0">4.000.000</p>
      </a>
    </div>
    <div class="sidenav-item p-2" title="Bekijk transparante persoon">
      <a class="d-block" routerLink="edit" routerLinkActive="active-link">
        <p class="sidenav-text fw-bold m-0">Dave Holland</p>
        <fa-icon [icon]="FaEye" class="icon fa-lg pe-2"></fa-icon>
        <p class="sidenav-text fw-bold d-inline-block m-0">4.000.000</p>
      </a>
    </div>
    <div class="sidenav-item p-2" title="Bekijk transparante persoon">
      <a class="d-block" routerLink="edit" routerLinkActive="active-link">
        <p class="sidenav-text fw-bold m-0">Dave Holland</p>
        <fa-icon [icon]="FaEye" class="icon fa-lg pe-2"></fa-icon>
        <p class="sidenav-text fw-bold d-inline-block m-0">4.000.000</p>
      </a>
    </div>
  </div>
</div>

