<div class="sidenav p-0 shadow d-none d-md-block">
  
  <div class="streamer-list-title">
  <h3 class="text-center py-4 m-0 bg-light">Gevolgd</h3>
  <hr class="m-0 red"/>
  </div>
  <div class="streamer-list">
    <div *ngFor="let room of rooms" class="sidenav-item p-2" title="Bekijk transparante persoon">
      <a class="d-block" [routerLink]="['/room', room._id]" routerLinkActive="active-link">
        <img class="streamer-pf d-inline-block" [src]="'https://avatars.dicebear.com/api/adventurer-neutral/' + room.streamer._id + '.svg'" />
        <div class="d-inline-block flex-grow-1 ms-2">
          <p class="sidenav-text fw-bold m-0">{{ room.streamer.name }}</p>
          <fa-icon *ngIf="room.isLive" [icon]="FaEye" class="icon fa-lg pe-2"></fa-icon>
          <p *ngIf="room.isLive" class="sidenav-text fw-bold d-inline-block m-0">{{ room.viewers }}</p>
          <p *ngIf="!room.isLive" class="sidenav-text fw-bold d-inline-block m-0">Offline</p>
        </div>
      </a>
    </div>

  </div>
</div>

