<div class="background-secondary sidenav p-0 shadow d-none d-md-block">
  <div class="text-center icon-div mx-3">
    <div class="sidenav-item mt-4">
      <a class="d-block" routerLink="edit" routerLinkActive="active-link">
        <p class="sidenav-text fw-bold m-0">Mae Holland</p>
        <fa-icon [icon]="FaEye" class="icon fa-lg pe-2"></fa-icon>
        <p class="sidenav-text fw-bold d-inline-block">1.000.000</p>
      </a>
    </div>

    <div class="sidenav-item mt-3">
      <a class="d-block" routerLink="edit" routerLinkActive="active-link">
        <p class="sidenav-text fw-bold m-0">Tom Holland</p>
        <fa-icon [icon]="FaEye" class="icon fa-lg pe-2"></fa-icon>
        <p class="sidenav-text fw-bold d-inline-block">964.463</p>
      </a>
    </div>

    <div class="sidenav-item mt-3">
      <a class="d-block" routerLink="poule" routerLinkActive="active-link">
        <fa-icon [icon]="faTrophy" class="icon fa-lg"></fa-icon>
        <p class="sidenav-text">Toernooi</p>
      </a>
    </div>

    <div class="sidenav-item mt-3">
      <a class="d-block" routerLink="planning" routerLinkActive="active-link">
        <fa-icon [icon]="faCalenderAlt" class="icon fa-lg"></fa-icon>
        <p class="sidenav-text">Planning</p>
      </a>
    </div>
  </div>
</div>
